header{
  border-bottom : solid 1px black;
  padding: 10px 5px;
  min-height: 115px;
}
main{
  height: calc(100vh - 136px);
}
button{
  padding: 5px 15px;
}
.App{
  display: flex;
  flex-direction: column;
}
